* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
header {
  width: 100%;
  height: 100vh;
  background: #f48e62;
}
.body {
  height: auto;
  background: rgba(216, 41, 10, 0.733);
  padding: 0 50px;
}
.main_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: 0 0 10px rgb(110, 90, 90);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  z-index: 1000;
}
.nav_links a {
  padding: 0 15px;
  display: inline-block;
  transition: 0.5s;
}
.nav_links a:hover {
  transform: scale(1.3);
}
.logo__name {
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
}
.logo__name:hover {
  letter-spacing: 5px;
}
.info_btn {
  /* background: #000; */
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.header_main_section {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  /* background: rgba(0, 0, 0, 0.212); */
  /* padding: 30px; */
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_main_section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(158, 5, 5);
}
.header_main_section h2 {
  line-height: 1.5em;
  font-size: 40px;
}
.header_main_section p {
  color: rgb(59, 35, 35);
  font-size: 24px;
  font-weight: bold;
}
#bars {
  display: none;
  /* background: #000; */
  padding: 8px 15px;
  font-size: 22px;
  border: 2px solid rgb(126, 10, 10);
  border-radius: 5px;
  cursor: pointer;
}
.header_bottom {
  width: 100%;
  height: 150px;
  /* background: rgba(0, 0, 0, 0.212); */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
/* header section end */

/* experties section start */
.experties_main_box {
  display: flex;
  flex-wrap: wrap;
}
.experties_main_box div {
  flex: 1 1 27rem;
  /* height: 300px; */
  /* background: rgb(219, 15, 15); */
  margin: 10px 20px;
  box-shadow: 0px 0px 10px rgb(240, 219, 219);
  border-radius: 10px;
}
.experties {
  width: 100%;
  padding-top: 20px;
  /* padding: 50px; */
  /* height: 400px; */
  /* background: rgba(255, 166, 0, 0.479); */
}
.experties h2 {
  font-size: 34px;
  width: fit-content;
  border-bottom: 2px solid red;
  margin: auto;
  margin-bottom: 20px;
}
.expert_sm {
  padding: 30px;
}
.expert_sm i {
  font-size: 80px;
  color: aliceblue;
}
/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid red;
  background: #fff;
  font-weight: bold;
  font-size: 18px;
} */
.expert_sm > p {
  margin-bottom: 20px;
}
/* experties section end */
/* my work section start */
.my_work {
  width: 100%;
  padding: 30px 0;
  /* height: 500px; */
  /* background: #000; */
}
.my_work > h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.work_main_box {
  display: flex;
  flex-wrap: wrap;
}
.work_main_box div {
  flex: 1 1 27rem;
  /* padding: 20px; */
  height: 300px;
  overflow: hidden;
  position: relative;
  background: rgb(245, 225, 225);
  margin: 15px 20px;
  /* box-shadow: 0 0 10px #fff; */
  border-radius: 20px;
}
.sm_work_box img,
.sm_work_box .context_box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.context_box {
  padding: 10px 20px;
}
.context_box h3,
.context_box p {
  color: rgb(104, 94, 94);
  padding: 10px;
}
.sm_work_box img {
  transform-origin: left;
  transition: 0.7s;
  transform: scale(0);
  object-fit: cover;
  object-position: center;
}
.sm_work_box:hover img {
  transform: scale(1);
}
.sm_work_box:hover .context_box {
  z-index: -1;
}
/* my work section end */
/* ***************************************************************************************************************************************************************************media query */
/* mobile size */
@media (max-width: 600px) {
  #bars {
    display: block;
  }
  .info_btn {
    display: none;
  }
  .nav_links {
    position: absolute;
    top: 80px;
    background: rgba(122, 35, 35, 0.856);
    width: 300px;
    right: 0;
    display: none;
  }
  .see {
    display: block;
  }
  .nav_links a {
    display: block;
    margin: 10px;
    border: 2px solid rgb(173, 60, 60);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .nav_links a:hover {
    transform: scale(1.05);
  }
  .header_main_section {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 40px;
  }
  .header_main_section h2 {
    font-size: 26px;
  }
  .experties {
    padding: 20px;
  }
}
