* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.menu {
  display: flex;
  background: rgba(236, 108, 108, 0.411);
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}
ul {
  display: flex;
}
li {
  margin: 0 10px;
}
